<h1>Groups</h1>

<ul>
  <% @groups.each do |group| %>
    <h3><a href="/groups/<%= group.id %>"><%= group.name %></a></h3>
      <% group.events.each do |event| %>
    <li><%= event.name %> hosted by: <%= event.user.name %></li>
    <%end%>
  <% end %>
</ul>
