<h1>LOG IN HERE</h1>

<form action="/login" method="post">

  <label for="email">Email: </label>
  <input type="string" name="email" id="email">

  <br></br>

  <label for="password">Password: </label>
  <input type="password" name="password" id="password">

  <br></br>

  <input type="submit" value="Submit">
</form>
